<div class="sub_header_wrap">
    <div class="menu_container">
        <div id="flight" (click)="changeTab('flight')" >      
           <span><i class="fa fa-plane" aria-hidden="true"></i>Flight</span> 
        </div>
        <div id="hotels" (click)="changeTab('hotels')"> 
            <span> <i class="fa fa-hotel"></i>Hotels</span>
        </div>
        <div id="car" (click)="changeTab('car')">             
             <span> <i class="fa fa-car" aria-hidden="true"></i>Car</span>
        </div>
        <div id="activity" (click)="changeTab('activity')">  
            <span><i class="fa fa-flag-o"></i>Activity</span>
        </div>
  
    </div>
  </div>
  <!-- <div *ngIf="id ==='flight'">
    <app-flight></app-flight>
  </div>
  <div *ngIf="id ==='activity'">
    <app-activity></app-activity>
  </div> -->
  <!-- <div *ngIf="id ==='car'">
    <app-car></app-car>
  </div>
  <div *ngIf="id ==='hotels'">
    <app-hotel></app-hotel>
  </div> -->
